/* Global Styles: ****************************************************************/
@font-face {
    font-family: 'Rye';
    src: url('webfont/rye-regular-webfont.woff2') format('woff2'),
         url('webfont/rye-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #FFE0B5;
}

/* Header Styles: ****************************************************************/
header {
    background-image: url(../images/train.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
h1, h2 {
    color: #FFE0B5;
}
h1 {
    font-family: 'Rye';
}
h2, th, strong{
    font-family: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text',
    'Times New Roman', serif; 
}

/* Table Styles: *****************************************************************/
.table .thead-dark th {
    background-color: #5E0B15;
    color: #FFE0B5;
}
th, strong {
    font-size: 1.5em;
}
td, small {
    color: #2E282A;
}

/* Form Styles: ******************************************************************/
strong {
    color: #5E0B15;
}
button.btn-primary {
    background-color: #90323D;
    border-color: #90323D;
}
button.btn-secondary {
    background-color: #2E282A;
    border-color: #2E282A;
}